/* Estilos globais */
body {
    font-family: 'Roboto', sans-serif;
    color: #f0f0f0;
    margin: 0;
    padding: 0;
    background-color: #1a1a1a;
    transition: background-color 0.3s ease;
    overflow-x: hidden; /* Impede o overflow horizontal */
}

h1, h2, h3 {
    font-family: 'Creepster', cursive;
    color: #ff7518;
    text-shadow: 3px 3px 8px #000;
}

/* Estilos para o Header */
header {
    position: relative;
    height: 400px;
    background-image: url('https://wallpapers.com/images/hd/1920-x-1080-halloween-yvpszcfu340l71el.jpg');
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 2s ease;
}

.header-content {
    z-index: 2;
    animation: slideIn 1.5s ease;
}

.header-content h1 {
    font-size: 4rem;
    margin-bottom: 1rem;
    text-shadow: 4px 4px 10px black;
    transition: transform 0.3s ease;
}

.header-content p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    transition: transform 0.3s ease;
}

.header-content .btn {
    padding: 10px 30px;
    font-size: 1.2rem;
    background-color: #ff7518;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 2px 2px 8px #000;
}

.header-content .btn:hover {
    background-color: #e64a19;
    transform: scale(1.05);
    box-shadow: 4px 4px 12px #000;
}

/* Efeito de overlay */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
    animation: fadeInOverlay 2s ease;
}

/* Seções principais */
main {
    padding: 50px 10px; /* Ajusta padding para ambos os lados */
    background-color: #222;
    transition: background-color 0.3s ease;
    width: 100%; /* Garantir que o main use toda a largura */
    max-width: 1200px; /* Limita a largura máxima para telas grandes */
    margin: 0 auto; /* Centraliza o conteúdo no meio da página */
}

/* Seção de Informações */
.info {
    text-align: center;
    animation: fadeInUp 1.5s ease;
    max-width: 100%; /* Responsividade */
    overflow-x: hidden; /* Previne overflow */
}

.info .details {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.info .details div {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    width: 90%; /* Ajusta a largura para caber melhor em telas pequenas */
    max-width: 400px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    margin: 10px auto; /* Centraliza os itens */
}

.info .details div:hover {
    transform: translateY(-5px);
}

.info .details h3 {
    margin-bottom: 10px;
    color: #ff7518;
    text-shadow: 2px 2px 6px #000;
}

/* Seção de Alimentos */
.food-grid {
    display: flex;
    flex-wrap: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;
}

.food-grid h2 {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 10px 0;
    font-size: 2rem;
    color: #ff7518;
}

.food-item {
    background-color: #333;
    padding: 15px;
    border-radius: 10px;
    width: 90%;
    max-width: 400px;
    margin: 10px auto; /* Centraliza os itens */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.food-item:hover {
    transform: translateY(-5px);
}

/* Seção de Entretenimento */
.entretenimento {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    animation: fadeInUp 1.5s ease;
}

/* Ajustando os itens da lista */
.entretenimento ul {
    list-style-type: none;
    padding: 0;
}

.entretenimento ul li {
    background-color: #444;
    margin: 10px auto; /* Centraliza os itens */
    padding: 10px;
    border-radius: 5px;
    transition: transform 0.3s ease;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.entretenimento ul li:hover {
    transform: scale(1.02);
}

/* Efeito de descrição oculta */
.details-hidden {
    display: none;
}

.details {
    display: block;
}

/* Estilo do botão de descrição */
.arrow {
    font-size: 1.2rem;
    margin-left: 10px;
}

/* Estilos para o Footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #111;
    color: #ff7518;
    box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.5);
    animation: fadeInUp 2s ease;
}

/* Seção de Ingressos */
.ingressos {
    text-align: center;
    padding: 50px 10px; /* Ajusta padding para ambos os lados */
    background-color: #333;
    color: #ff7518;
    animation: fadeInUp 2s ease;
}

.ingresso-options {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.pix-option, .dinheiro-option {
    background-color: #444;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    color: #fff;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease;
    margin: 10px auto; /* Centraliza os itens */
}

.pix-option:hover, .dinheiro-option:hover {
    transform: translateY(-5px);
}

.pix-option h3, .dinheiro-option h3 {
    font-family: 'Creepster', cursive;
    margin-bottom: 15px;
}

/* Estilo do ícone do WhatsApp */
.whatsapp-icon {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    vertical-align: middle;
}

.imagem-responsiva {
    width: 100%; /* Faz a imagem ocupar 100% da largura do seu elemento pai */
    height: auto; /* Mantém a proporção original da imagem */
}

/* Animações */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateX(-100%); opacity: 0; }
    to { transform: translateX(0); opacity: 1; }
}

@keyframes fadeInOverlay {
    from { background-color: rgba(0, 0, 0, 0); }
    to { background-color: rgba(0, 0, 0, 0.6); }
}

/* Responsividade */
@media (max-width: 768px) {
    .header-content h1 {
        font-size: 2.5rem;
    }

    .header-content p {
        font-size: 1rem;
    }

    .header-content .btn {
        padding: 8px 20px;
        font-size: 1rem;
    }

    .food-item, .info .details div, .pix-option, .dinheiro-option {
        width: 100%; /* Mais espaço para os itens em telas menores */
        margin: 10px auto; /* Centraliza os itens */
    }
}

@media (max-width: 480px) {
    .header-content h1 {
        font-size: 2rem;
    }

    .header-content p {
        font-size: 0.9rem;
    }

    .header-content .btn {
        padding: 6px 15px;
        font-size: 0.9rem;
    }

    .elemento {
        height: 200px; /* Ajuste a altura se necessário */
    }

    .imagem-responsiva {
        max-width: 100%; /* Garante que a imagem não ultrapasse a largura do contêiner */
    }
}
